<foorer class="mfooter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<hr>
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<nav>
							<ul class="menu">
								{{{MAINMENU}}}
							</ul>
						</nav>
					</div>
					<div class="col-md-5 col-sm-5">
						<div class="powered_by">
							DPoSPool on <a href="https://github.com/ShineKami/dpospool" target="_blank" title="DPoSPool">GitHub.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</footer>