<div class="container middle">
	<div class="charts">
		<h1 class="page_title">CHARTS</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Rank</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget/rank' data-ptitle="Rank" data-pdecimal="0"></div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Pool balance</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget/balance' data-ptitle="Balance (LSK)" data-pdecimal="3"></div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Votes count</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget/vcount' data-ptitle="Votes Count" data-pdecimal="0"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>